body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

.container {
  border: 1px solid #ccc;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}

.text-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 0;
}


.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-bar-item {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}


.nav-bar-heading {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-weight: bold;
}



.nav-bar {
  background-color: #333;
  color: white;
  padding: 10px;
  width: 100%;
}